<h1>STS Printer Status Report</h1>
{{#if groups}}
<h3>Groups:</h3>
<ul>
    {{#each groups}}
    <li>{{groupName}}</li>
    {{/each}}
</ul>
{{else}}
<h1>You haven't created any groups!</h1>
{{/if}}

<form action="/groups/add" method="POST">
    <div class="form-group">
        <label for="groupName">Group Name</label>
        <input type="text" class="form-control" id="groupName" name="groupName">
        <small id="groupName" class="form-text text-muted"></small>
    </div>
    <input type="submit" value="Post" class="btn btn-primary">
</form>