<div class="container">
    <form action="/users/add" method="POST">
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" placeholder="First name" id="firstname" name="firstname">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Last name" id="lastname" name="lastname">
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <input type="email" class="form-control" placeholder="Email" id="email" name="email">
            </div>
        </div>
        <input type="submit" value="Post" class="btn btn-primary">
    </form>
</div>